//colores
$rojo: red;
$verde:rgb(60, 141, 57);
$rosa: rgb(235, 56, 86);
$amarillo: yellow;
$morado: purple;
$negro: black;
$blanco: white;
$azul: blue;
//fuentes
$fuente_principal: 'Monserrat',
sans-serif;
//tamaños de pantalla
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;